# Praca z arkuszami Microsoft Excel

Pandas umożliwia szybki odczyt i zapis plików do większości formatów, z których korzystamy w procesie analizy danych. W tym rozdziale omówimy pracę z plikami typu CSV i Excel. Pokażemy również sposób na wczytywanie danych prosto z tabeli HTML, a także jak pracować z danymi przechowywanymi w relacyjnej bazie danych SQL.

## Pliki csv

W celu wczytania danych z pliku csv, bezpośrednio do obiektu DataFrame, wystarczy użyć funkcji read_csv.

In [7]:
import pandas as pd
# df = pd.read_csv('myCsvFile.csv') - brak pliku

Eksport do pliku csv polega na wywołaniu funkcji to_csv na obiekcie typu DataFrame.

In [6]:
# df.to_csv('myNewCsvFile.csv', index=False)

Dodanie na końcu komendy index=False jest opcjonalne. Pozwala to jednak na eksport do formatu csv bez uwzględniania etykiet indeksu.

## Praca z plikami Excel

Podstawowy odczyt i zapis do plików Excel działa bardzo podobnie, jak w przypadku plików csv. Możesz pobrać przykładowy plik. Dane do DataFrame wczytujemy w następujący sposób:

In [7]:
import pandas as pd
df = pd.read_excel('myExcelFile.xlsx', sheet_name='my_data')

Wprowadzenie parametru określającego nazwę zakładki, z której Pandas postara się pobrać dane, jest opcjonalne. Domyślnie wczytana będzie zawartość pierwszej zakładki.

Eksport do pliku Excel wykonujemy, wykorzystując funkcję to_excel.

In [9]:
# df = pd.to_excel('myNewExcelFile.xlsx', sheet_name='my_new_data') -- błędny kod
df.to_excel('myNewExcelFile.xlsx', sheet_name='my_new_data')

Bardziej zaawansowane operacje na plikach MS Excel możemy wykonać dzięki silnikowi XlsxWriter.


UWAGA

Aby przykłady zaprezentowane poniżej działały poprawnie, musisz mieć zainstalowany pakiet Office z programem Microsoft Excel.

Standardowy zapis DataFrame do skoroszytu Excel wypełnia kolejne komórki we wskazanej zakładce, rozpoczynając od A1. Korzystając z silnika XlsxWriter, możemy korzystać z całej długości i szerokości arkusza w celu zapisywania i formatowania danych w niemalże dowolny sposób.

W pierwszym przykładzie zapiszemy dwa razy tę samą tabelę do tej samej zakładki arkusza Excel.

Na początek stworzymy obiekt ExcelWriter, w którym sprecyzujemy nazwę pliku oraz silnik, którego chcemy używać.

In [14]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

Do obiektu przypisanego do zmiennej writer będziemy odwoływać się, zapisując kolejne DataFrame do arkusza.

In [15]:
df.to_excel(writer, sheet_name='my_dfs')
df.to_excel(writer, sheet_name='my_dfs', startcol=6, startrow=5, index=False)

Nie dodając dodatkowych parametrów związanych z pozycją tabeli przypisanej do zmiennej df, możemy spodziewać się, zostanie zapisana w arkuszu, rozpoczynając od komórki A1. Zapisując drugi raz tabelę df, korzystając z parametrów startcol oraz startrow dajemy dodatkowe instrukcje co do miejsca, w którym ma znaleźć się output.

Na koniec zapisujemy plik przy użyciu komendy:

In [16]:
writer.save()

W podobny sposób możemy zapisywać dane do różnych zakładek tego samego pliku:

In [17]:
writer = pd.ExcelWriter('many_sheets.xlsx', engine='xlsxwriter')

df.to_excel(writer, sheet_name='my_df1')
df.to_excel(writer, sheet_name='my_df2')

writer.save()

Jak wspomnieliśmy, XlsxWriter umożliwia nam operowanie na skoroszycie MS Excel w bardzo rozbudowany sposób. W kolejnym przykładzie dodamy do pliku wykres w całości z poziomu Pythona.

Rozpoczynamy w poznany już wcześniej sposób od zdefiniowania ExcelWriter i zapisania tabeli do nowej zakładki.

In [18]:
writer = pd.ExcelWriter('add_chart.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='my_chart')

W celu wykreowania wykresu musimy stworzyć obiekty typu Workbook oraz Worksheet.

In [19]:
workbook = writer.book
worksheet = writer.sheets['my_chart']

Następnie, z poziomu Workbooka tworzymy obiekt Chart, definiując od razu, jakiego typu ma być to wykres. Możemy skorzystać z następujących rodzajów:

    area: wykres powierzchniowy.
    bar: wykres słupkowy (poziomy).
    column: wykres kolumnowy.
    line: wykres liniowy.
    pie: wykres kołowy.
    doughnut: wykres pierścieniowy.
    scatter: wykres punktowy.
    stock: wykres ‘giełdowy’.
    radar: wykres typu radar.

W naszym przykładzie stworzymy wykres z danych umieszczonych w kolumnie B, dlatego najlepszym rozwiązaniem będzie wykres liniowy.

In [20]:
chart = workbook.add_chart({'type':'line'})

Ponieważ w tym momencie pracujemy już w skoroszycie, aby wybrać wartości na wykresie, musimy wskazać zakres komórek, tak, jak gdybyśmy robili to ręcznie w arkuszu.

Napiszmy funkcję, która tworzy zakres na podstawie kolumny, którą chcemy użyć jako wartości wykresu.

In [21]:
def grab_series(df, sheet_name, colname, startcol=0, startrow=0):

    col_index = df.columns.tolist().index(colname)
    col_letter = chr(ord('@')+(col_index+2+startcol))
    first_row = startrow + 2
    last_row = startrow + 1 + len(df)
    return f"='{sheet_name}'!{col_letter}{first_row}:{col_letter}{last_row}"

Teraz do obiektu chart możemy dodać serię wartości:

In [23]:
# chart.add_series({'values':grab_series(df,'my_chart','B')}) -- brak kolumny "B"
chart.add_series({'values':grab_series(df,'my_chart','Lp.')})

Jeśli nasz wykres nabrał już pierwszych kształtów, możemy sformatować go wedle uznania. Na pewno będziemy chcieli zająć się osią X: wprowadzimy jej nazwę, zmienimy rozmiar oraz grubość czcionki; poza tym będziemy chcieli, aby wartości na osi X były wydrukowane pochyloną czcionką.

In [24]:
chart.set_x_axis({
    'name': 'x^2',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

Ponieważ nadaliśmy już nazwę osi X, a nasz wykres zawiera tylko jedną serię – dobrym pomysłem będzie pozbycie się legendy, która domyślnie zawsze pojawia się na wykresie. W tym celu wystarczy wprowadzić polecenie:

In [25]:
chart.set_legend({'none': True})

Zakończyliśmy pracę nad wykresem, zatem kolejnym krokiem jest umieszczenie go w wybranym miejscu arkusza, w którym pracujemy. Wcześniej stworzyliśmy obiekt worksheet, który posłuży nam do osadzenia wykresu w pliku.

In [27]:
# worksheet.insert_chart('F2', chart)-- nie działa
worksheet.insert_chart('K2', chart)

C:\ProgramData\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1515: UserWarning: Chart cannot be inserted in a worksheet more than once.
  warn('Chart cannot be inserted in a worksheet more than once.')

W taki oto sposób udało nam się zapisać tabelę i stworzyć do niej wykres bez ręcznej pracy w Excelu. Oczywiście, silnik XlsxWriter umożliwia bardziej zaawansowane formatowanie. Zachęcamy do zapoznania się z dokumentacją.

W kolejnym przykładzie stworzymy plik, który zawierał będzie w sobie formatowanie warunkowe na komórkach przechowujących wartość z wyeksportowanej przez nas tabeli oraz komórkę przyjmującą jedynie wartości będące liczbami całkowitymi większymi od zera.

Rozpoczniemy tak, jak ostatnio, od stworzenia trzech podstawowych obiektów i wyeksportowania DataFrame:

In [28]:
writer = pd.ExcelWriter('conditional_format.xlsx', engine='xlsxwriter')

df.to_excel(writer, sheet_name='my_conditional')

workbook = writer.book
worksheet = writer.sheets['my_conditional']

Będziemy chcieli wzbogacić ostatnią kolumnę wyeksportowanej tabeli o formatowanie warunkowe dla wartości powyżej liczby 300. W tym celu musimy ustalić jaki format przybiorą komórki spełniające warunek.

Stworzymy nasz własny format w tym skoroszycie, korzystając z metody add_format.

In [29]:
format1 = workbook.add_format({'bg_color':   '#FFC7CE',
                               'font_color': '#9C0006'})

W końcu możemy ustawić formatowanie warunkowe:

In [30]:
worksheet.conditional_format("D2:D12",{'type': 'cell',
                                      'criteria':'>=',
                                      'value':300,
                                      'format':format1})

0

Korzystamy z funkcji conditional_format dostępnej z obiektu worksheet. Na początku wskazujemy zakres komórek, którego ma dotyczyć formatowanie, a następnie wprowadzamy wszystkie parametry formatowania warunkowego.

W środowisku MS Excel mamy możliwość wyboru z wielu wbudowanych rodzajów/schematów formatowania warunkowego. Nas interesuje formatowanie na podstawie porównania do stałej wartości, będziemy bowiem sprawdzać, które komórki mają wartość większą od liczby 300. Z tego powodu parametr type przyjmuje w przykładzie wartość cell. To z kolei implikuje ilość i rodzaj pozostałych parametrów do uzupełnienia.

Dla typu formatowania warunkowego cell możemy doprecyzować: criteria, value, minimum, maximum oraz format.

Po ustawieniu formatowania warunkowego zajmiemy się dodaniem jeszcze jednej funkcjonalności – walidacji danych.

W komórce A16 wprowadzimy wartość tekstową o treści “Podaj liczbę całkowitą większą od 0:”.

In [31]:
worksheet.write_string('A16','Podaj liczbę całkowitą większą od 0:')

0

Jeśli w odpowiedzi dostaniemy wartość 0 – oznaczać to będzie, że wszystko poszło dobrze. Wartość (-1) pojawi się, jeśli wprowadzony zakres wykracza poza obszar arkusza, a (-2) będzie oznaczać, że wartość tekstowa została skrócona do 32 tysięcy znaków.

W komórce obok, tj. B16, wprowadzimy teraz zasadę walidującą, zezwalającą na wprowadzanie do niej wyłącznie liczb całkowitych większych od 0.

In [32]:
worksheet.data_validation('B16', {
    'validate':'integer',
    'criteria':'>',
    'value':0
})

0

Poza testowaniem czy wprowadzana wartość jest liczbą całkowitą, możemy wykorzystać również inne opcje:

    decimal: ogranicza wartość komórki do liczb rzeczywistych.
    list: ogranicza wartość komórki do listy wybranej przez użytkownika. Lista może być wprowadzona w postaci listy znanej z Pythona lub odniesienia do komórek w arkuszu.
    date: ogranicza wartość komórki do poprawnie wprowadzonych dat.
    time: ogranicza wartość komórki do obiektów datetime.
    length: wyznacza górną granicę długości ciągu tekstowego.
    custom: ogranicza możliwe wartości do tych, które spełniają wskazany warunek logiczny.

Ponieważ wcześniej wprowadziliśmy do komórki A16 długi ciąg znaków, dobrym pomysłem będzie rozszerzenie kolumny A, tak aby wartości w niej zawarte na pewno były widoczne dla użytkownika

In [33]:
worksheet.set_column('A:A',35)

0

Na koniec zapisujemy i zamykamy plik.

In [34]:
writer.save()
workbook.close()

C:\ProgramData\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

Na pierwszy rzut oka widać, że formatowanie warunkowe działa tak, jak powinno. Podświetlane na czerwono są wszystkie wartości większe lub równe 300. Kolumna A jest odpowiednio rozszerzona. Pozostaje sprawdzić, czy komórka B16 przyjmuje wartości inne niż sprecyzowane w warunkach walidacji.

Jak widać, próba wprowadzenia wartości niezgodnej ze specyfikacją owocuje pojawieniem się blokady oraz odpowiedniej informacji ze strony MS Excel.

## Tabele HTML

Dzięki funkcji read_html możemy w większości przypadków szybko wprowadzać dane znalezione w internecie do obiektu DataFrame.

Na stronie Miasta w Polsce widzimy dwie tabele zestawiające największe miejscowości pod kątem liczby ludności oraz powierzchni. Spróbujemy wykorzystać funkcję read_html, aby wczytać je do naszego projektu.

Skopiujmy link do witryny zawierającej docelowe tabele i wklejmy go jako pierwszy argument funkcji.

In [35]:
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)

Na razie nie mamy jeszcze obiektu DataFrame. Jeśli odpytamy zmienną data o jej typ, dostaniemy informację, że mamy do czynienia z listą:

In [36]:
type(data)

list

Wywołując funkcję read_html, Pandas pobrał zawartość strony kryjącą się pod wskazanym przez nas adresem i wyciągnął z niej wszystkie tabele oznaczone tagiem table.

Jeśli zatem wywołamy pierwszy element listy:

In [37]:
data[0]

,Lp.,Miasto,Województwo,Liczbamieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 793 579,3437
1,2.0,Kraków,małopolskie,780 981,2359
2,3.0,Łódź,łódzkie,677 286,2337
3,4.0,Wrocław,dolnośląskie,643 782,2188
4,5.0,Poznań,wielkopolskie,533 830,2048
5,6.0,Gdańsk,pomorskie,471 525,1781
6,7.0,Szczecin,zachodniopomorskie,400 990,1339
7,8.0,Bydgoszcz,kujawsko-pomorskie,346 739,1990
8,9.0,Lublin,lubelskie,339 547,2303
9,10.0,Białystok,podlaskie,297 585,2913

Otrzymamy tabelę z największymi polskimi miastami pod kątem liczby ludności.

Teraz wywołamy drugi element listy:

In [38]:
data[1]

    Lp.            Miasto         Województwo Powierzchnia [ha]
0   1.0          Warszawa         mazowieckie            51 724
1   2.0            Kraków         małopolskie            32 685
2   3.0          Szczecin  zachodniopomorskie            30 060
3   4.0              Łódź             łódzkie            29 325
4   5.0           Wrocław        dolnośląskie            29 282
5   6.0      Zielona Góra            lubuskie            27 832
6   7.0            Gdańsk           pomorskie            26 196
7   8.0            Poznań       wielkopolskie            26 191
8   9.0       Świnoujście  zachodniopomorskie            20 207
9  10.0  Dąbrowa Górnicza             śląskie            18 873

Zobaczymy w ten sposób tabelę z największymi polskimi miastami pod kątem powierzchni.

## Zadanie

Na koniec tej części modułu przećwiczymy nowo poznane umiejętności na bazie najlepiej sprzedających się albumów wszechczasów. Wykonaj polecenia oraz odpowiedz na pytania zamieszczone poniżej, a rozwiązania wyślij Mentorowi.

Wczytaj do Pandas bazę najlepiej sprzedających się albumów wszechczasów.

In [8]:
 best_selling_albums= pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [22]:
df = best_selling_albums[0]
type(df)

pandas.core.frame.DataFrame

1. Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
 # Zgodnie z poleceniem POS ma byc niezmieniona

In [23]:
df = df.rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK', 'HIGH POSN': 'MAX POZ'})

2. Ilu pojedynczych artystów znajduje się na liście?

In [24]:
unique_art = df['ARTYSTA'].unique()
len(unique_art)

47

3. Które zespoły pojawiają się najczęściej na liście?

In [25]:
df['ARTYSTA'].mode()

0     COLDPLAY
1    TAKE THAT
Name: ARTYSTA, dtype: object

4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [26]:
df = df.rename(columns=str.title)
df

,Pos,Tytuł,Artysta,Rok,Max Poz
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1
10,11,RUMOURS,FLEETWOOD MAC,1977,1
11,12,THE IMMACULATE COLLECTION,MADONNA,1990,1
12,13,BACK TO BLACK,AMY WINEHOUSE,2006,1
13,14,STARS,SIMPLY RED,1991,1
14,15,COME ON OVER,SHANIA TWAIN,1997,1
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984,1
16,17,BACK TO BEDLAM,JAMES BLUNT,2004,1
17,18,URBAN HYMNS,VERVE,1997,1
18,19,BAT OUT OF HELL,MEAT LOAF,1977,9
19,20,1,BEATLES,2000,1
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970,1
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987,4
22,23,SPIRIT,LEONA LEWIS,2007,1
23,24,CRAZY LOVE,MICHAEL BUBLE,2009,1
24,25,NO ANGEL,DIDO,2000,1
25,26,WHITE LADDER,DAVID GRAY,1998,1
26,27,25,ADELE,2015,1
27,28,TALK ON CORNERS,CORRS,1997,1
28,29,SPICE,SPICE GIRLS,1996,1
29,30,THE FAME,LADY GAGA,2008,1
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002,1
31,32,LIFE FOR RENT,DIDO,2003,1
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008,1
33,34,BEAUTIFUL WORLD,TAKE THAT,2006,1
34,35,HOPES AND FEARS,KEANE,2004,1
35,36,THE JOSHUA TREE,U2,1987,1
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978,5
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004,1
38,39,BUT SERIOUSLY,PHIL COLLINS,1989,1
39,40,X&Y,COLDPLAY,2005,1
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995,1
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973,1
42,43,THE MAN WHO,TRAVIS,1999,1
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988,1
44,45,PARACHUTES,COLDPLAY,2000,1
45,46,GREATEST HITS,ABBA,1975,1
46,47,GREASE,ORIGINAL SOUNDTRACK,1977,1
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998,1
48,49,X,ED SHEERAN,2014,1
49,50,COME AWAY WITH ME,NORAH JONES,2002,1
50,51,GRACELAND,PAUL SIMON,1986,1
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965,1
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998,1
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987,1
54,55,THE MARSHALL MATHERS LP,EMINEM,2000,1
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001,1
56,57,PROGRESS,TAKE THAT,2010,1
57,58,EYES OPEN,SNOW PATROL,2006,1
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005,2
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992,1

5. Wyrzuć z tabeli kolumnę ‘Max Poz’

In [27]:
df = df.drop('Max Poz',axis=1)

6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [28]:
df['Rok'].mode()

0    1987
1    2000
Name: Rok, dtype: int64

In [29]:
# df.groupby('Rok').count()

7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

22

In [47]:
df[(df['Rok'] <= 1990) & (df['Rok'] <= 1990)]["Tytuł"].count()

22

Taki kod wystaczy bo najstarszy album jest z 1965 roku

In [46]:
df[df['Rok'] <= 1990]["Tytuł"].count()

22

In [43]:
df['Rok'].min()

1965

8. W którym roku wydany został najmłodszy album na liście?

In [48]:
df['Rok'].max()

2015

9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [67]:
df.groupby('Artysta')['Rok','Tytuł'].first()

C:\Users\zfech\AppData\Local\Temp\ipykernel_13424\3163796396.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Artysta')['Rok','Tytuł'].first()

                           Rok                                 Tytuł
Artysta
ABBA                      1992                  GOLD - GREATEST HITS
ADELE                     2011                                    21
ALANIS MORISSETTE         1995                    JAGGED LITTLE PILL
AMY WINEHOUSE             2006                         BACK TO BLACK
BEATLES                   1967  SGT PEPPER'S LONELY HEARTS CLUB BAND
BOB MARLEY & THE WAILERS  1984                                LEGEND
COLDPLAY                  2002           A RUSH OF BLOOD TO THE HEAD
CORRS                     1997                       TALK ON CORNERS
DAVID GRAY                1998                          WHITE LADDER
DIDO                      2000                              NO ANGEL
DIRE STRAITS              1985                      BROTHERS IN ARMS
ED SHEERAN                2014                                     X
EMINEM                    2000               THE MARSHALL MATHERS LP
FLEETWOOD MAC             1977                               RUMOURS
GEORGE MICHAEL            1998      LADIES & GENTLEMEN - THE BEST OF
JAMES BLUNT               2004                        BACK TO BEDLAM
JEFF WAYNE                1978                 THE WAR OF THE WORLDS
KEANE                     2004                       HOPES AND FEARS
KINGS OF LEON             2008                     ONLY BY THE NIGHT
LADY GAGA                 2008                              THE FAME
LEONA LEWIS               2007                                SPIRIT
MADONNA                   1990             THE IMMACULATE COLLECTION
MEAT LOAF                 1977                       BAT OUT OF HELL
MICHAEL BUBLE             2009                            CRAZY LOVE
MICHAEL JACKSON           1982                              THRILLER
MIKE OLDFIELD             1973                         TUBULAR BELLS
NORAH JONES               2002                     COME AWAY WITH ME
OASIS                     1995        WHAT'S THE STORY MORNING GLORY
ORIGINAL CAST RECORDING   1965                    THE SOUND OF MUSIC
ORIGINAL SOUNDTRACK       1987                         DIRTY DANCING
PAUL SIMON                1986                             GRACELAND
PHIL COLLINS              1989                         BUT SERIOUSLY
PINK FLOYD                1973             THE DARK SIDE OF THE MOON
QUEEN                     1981                         GREATEST HITS
REM                       1992              AUTOMATIC FOR THE PEOPLE
ROBBIE WILLIAMS           1998               I'VE BEEN EXPECTING YOU
SCISSOR SISTERS           2004                       SCISSOR SISTERS
SHANIA TWAIN              1997                          COME ON OVER
SIMON & GARFUNKEL         1970            BRIDGE OVER TROUBLED WATER
SIMPLY RED                1991                                 STARS
SNOW PATROL               2006                             EYES OPEN
SPICE GIRLS               1996                                 SPICE
TAKE THAT                 2006                       BEAUTIFUL WORLD
TRACY CHAPMAN             1988                         TRACY CHAPMAN
TRAVIS                    1999                           THE MAN WHO
U2                        1987                       THE JOSHUA TREE
VERVE                     1997                           URBAN HYMNS

In [68]:
df.to_csv('artists_list.csv', index=False)